<div class="container">
  <div class="grid">
    <div class="first-book-name">
      <span class="first-book-name-text">Ebook > Sách > Thông tin sản phẩm</span>
    </div>
    <div class="grid__row book-container">
      <div class="grid-column-4">
        <a href="#" class="home-product">
          <div class="product-img" style="background-image: url(http://300b5338.vws.vegacdn.vn/image/img.news/0/0/0/275.jpg?v=1&w=628&h=365&nocache=1);"></div>
        </a>
      </div>
      <div class="grid-column-6">
        <div class="home-product-info">
          <h1 class="book-heading"><%= @book.name %></h1>
        </h1>
        <div class="product-view-sa">
          <div class="product-view-sa-one">
            <div class="product-view-sa-supplier">
              <span>Nhà cung cấp: </span>
              <span><%= @book.id %></span>
            </div>
            <div class="product-view-sa-author">
              <span>Số hàng: </span>
              <span><%= @book.quantity %></span>
            </div>
            <div class="product-view-sa-two">
              <div class="product-view-sa-supplier">
                <span>Nhà xuất bản: </span>
                <span>NXB Văn học</span>
              </div>
              <div class="product-view-sa-author">
                <span>Hình thức bìa: </span>
                <span>Bìa mềm</span>
              </div>
            </div>
          </div>
        </div>
        <div class="product-rating">
          <div class="rating-new-star">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
          <span class="product-id"></span>
        </div>
        <!-- <div class="product-view-sa-author">
                                <span>Số lượng: </span>
                            </div> -->
        <div class="book-item-price">
          <span class="book-item-price-old"><%= @book.price %>đ</span>
          <span class="book-item-price-current"><%= @book.price %>đ</span>
        </div>
        <div class="expected_delivery">
          <div class="expected_return-product-policy">
            <span>Chính sách đổi trả</span>
            <span>Đổi trả trong 30 ngày</span>
          </div>
        </div>
        <%= render "books/add_cart_form" %>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="book-info-content">
    <hr width="100%" size="8px">
    <h3>Thông tin sản phẩm: </h3>
    <br>
    <h6>Mã hàng: <%= @book.id %></h6>
    <br>
    <h6>Nhà cung cấp: <%= @book.id %></h6>
    <br>
    <h6>Thể loại: <%= @book.category_id %></h6>
    <br>
    <h6>Nhà xuất bản: NXB Trẻ</h6>
    <br>
    <h6>Năm xuất bản: 2014</h6>
    <br>
    <h6>Ngôn ngữ: Tiếng việt</h6>
    <br>
    <hr width="100%" size="8px">
    <h5>Nội dung: <%= @book.description %></h5>
    <p></p>
    <hr width="100%" size="8px">
  </div>
</div>
<div class="grid">
  <div class="user-rating-book">
    <h3 class="mb-3"> Đánh giá sản phẩm </h3>
    <div id="commentPanel">
    </div>
     <%= render "shared/comment_form" %>
    <hr width="100%" size="4px">
  </div>
</div>
<div class="grid">
  <div class="recomend-product">
    <%= render partial: "shared/book_comment", collection: @comments, as: :comment %>
  </div>
</div>
</div>
